@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* === Main Colors === */
  --brown__main: #644f41;
  --white__main: white;
  --black__main: #24201d;

  /* === Side Colors === */
  --purple__dark: #4d2d46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Urbanist", sans-serif;
  color: var(--black__main);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 2.15rem;
  font-weight: 800;
  text-transform: capitalize;

  margin-bottom: 16px;

  &.large {
    font-size: 4.5rem;
    color: var(--white__main);
  }
}

a {
  font-size: 1.1rem;
  font-weight: bold;
}

button {
  all: unset;
  cursor: pointer;

  &.styled {
    padding: 0.75rem 2.5rem;
    border-radius: 10px;

    background-color: var(--black__main);

    color: var(--white__main);
    font-weight: bold;
    text-transform: capitalize;

    transition: 0.25s ease-out;

    &:hover {
      transform: translateY(-5px);
      background-color: var(--purple__dark);
    }

    &:active {
      background-color: var(--brown__main);
    }
  }
}
