.listOfPeople {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;

  margin-bottom: 40px;

  & .userBlock {
    height: fit-content;
    & img {
      width: 100%;
      aspect-ratio: 1/1;
      margin-bottom: 10px;
      border-radius: 10%;

      object-fit: cover;
      object-position: center;

      transition: 0.15s ease-in;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        filter: brightness(105%);
      }
    }

    & .frame {
      height: fit-content;
      padding: 3rem;
      margin-bottom: 1.25rem;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--brown__light);
      border-radius: 15px;

      & img {
        height: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}
